<!DOCTYPE html>
<html lang="is">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro:700" rel="stylesheet">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header>
        <% if(!loggedIn) { %>
          <div class="nav" id="nav">
            <a href="../" id="index" <% if(page === 'apply') { %> class="active" <% } %> >Atvinnuumsókn</a>
            <a href="/login" id="login" <% if(page === 'login') { %> class="active" <% } %> >Innskráning</a>
            <a href="/register" id="register" <% if(page === 'register') { %> class="active" <% } %> >Nýskráning</a>
          </div>
      <% } else { %>
        <div class="header__login">
        <div class="nav" id="nav">
            <a href="../" id="index" <% if(page === 'apply') { %> class="active" <% } %> >Atvinnuumsókn</a>
            <a href="/applications" id="applications" <% if(page === 'applications') { %> class="active" <% } %> >Umsóknir</a>
            <a href="/admin" id="register" <% if(page === 'admin') { %> class="active" <% } %> >Notendur</a>
          </div>
          <div class="logout">
            <p><%= user.name %></p>
            <a href="/logout">Útskrá</a>
          </div>
        </div>
      <% } %>
    </header>
    <main>
