<%- include('header') -%>

<form method="post" action="/login">
    <div class="field">
        <label for="username">Notendanafn</label>
        <input type="text" name="username" id="loginusername">
    </div>
    <div class="field">
        <label for="password">Lykilorð</label>
        <input type="password" name="password" id="login-password">
    </div>
  <button>Innskrá</button>
  <h2 style="margin-top: 1em;"><%= message %></h2>
</form>

<%- include('footer') -%>