<%- include('header') -%>
<form method="post" action="/login">
    <div class="field">
        <label for="name">Notendanafn</label>
        <input type="text" name="name" id="name">
    </div>
    <div class="field">
        <label for="password">Lykilorð</label>
        <input type="password" name="password" id="login-password">
    </div>
  <button>Innskrá</button>
</form>

<%- include('footer') -%>